body {
  background-color: orange;
  text-align: center;
}

h1, h2 {
  text-align: center;
  border: 3px solid black;
  border-length: 50px;
  padding: 5px;
  display: inline-block;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
