body {
  background-color: orange;
  text-align: center;
}

h1 {
  text-align: center;
}

p {
  background-color: : white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: 20%;
}
